<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxiang.mapper.InfoMapper">
	<select id="queryAll" parameterType="map" resultType="com.renxiang.beans.Info">
		select t.*,i.id,i.uptime,i.status from tb_teacher as t LEFT JOIN tb_info as i on t.tid=i.tid
		<where>
			<if test="id!=''">
				id=#{id}
			</if>
			<if test="uptime!=null and uptime!=''">
				and uptime=#{uptime}
			</if>
			<if test="tname！=null and tname!=''">
				and tname=#{tname}
			</if>
		</where>
	</select>
	<select id="queryTeacher" resultType="com.renxiang.beans.Teacher">
		select * from tb_teacher
	</select>
	<insert id="insertInfo" parameterType="com.renxiang.beans.Info">
		insert into tb_info(id,tname,uptime,status) values(#{id},#{tname},#{uptime},#{status})
	</insert>
</mapper>